<div class="comment-container">
  <p> <span> <%= comment.author.name %>: </span> <%= comment.text %> </p>
  <% if comment.author == current_user %>
        <%= button_to "Delete", user_post_comment_path(comment.post.author, comment.post, comment), method: :delete, class: "delete-comment-btn" %>
      <% end %>
</div>