<div class="user-page-container">
  <div class="user-container">
    <%= render "shared/user", user: @user %>
  </div>
  <% if @user == current_user && can?(:create, Post) %>
    <%= link_to "Add Post", new_user_post_path(@user), class: "sign-up-btn" %>
  <% end %>
  <div class="posts-list">
    <% @posts.each do |post| %>
    <div class="post-container">

      <%= render "shared/post", post: post, user: @user %>
      <% if post.most_recent_five_comments.present? %>
      <div class="comments-container">
      <% post.most_recent_five_comments.each do |comment| %>
        <%= render "shared/comment", comment: comment %>
      <% end %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
  <button type="button" class="comment-btn">paginton</button>
</div>
